
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Layout_Master.cshtml";
}

<h2>Danh sách sản phẩm</h2>
<div class="list-pro">
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/image/1.png" alt="Mỹ Phẩm" title="Mỹ Phẩm" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Mỹ Phẩm</p>
            <p>1.000.000đ</p>
            <p>Đã bán:100sp</p>
            <p><input type="submit" value="Mua" class="fm-btnMua" /> </p>
        </div>

    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/image/2.png" alt="Mỹ Phẩm" title="Mỹ Phẩm" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Mỹ Phẩm</p>
            <p>1.000.000đ</p>
            <p>Đã bán:100sp</p>
            <p><input type="submit" value="Mua" class="fm-btnMua" /> </p>
        </div>

    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/image/3.jpg" alt="Mỹ Phẩm" title="Mỹ Phẩm" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Mỹ Phẩm</p>
            <p>1.000.000đ</p>
            <p>Đã bán:100sp</p>
            <p><input type="submit" value="Mua" class="fm-btnMua" /> </p>
        </div>
    </div>
    <div class="box-pro">
            <div class="box-img">
                <img src="~/Content/image/4.jpg" alt="Mỹ Phẩm" title="Mỹ Phẩm" class="fm-size-img" />
            </div>
            <div class="box-des">
                <p>Mỹ Phẩm</p>
                <p>1.000.000đ</p>
                <p>Đã bán:100sp</p>
                <p><input type="submit" value="Mua" class="fm-btnMua" /> </p>
            </div>
    </div>
</div>

