<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/mycss/mystyle.css" rel="stylesheet" />
    <link href="~/Content/mycss/SanPham.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div id="div-top">
        <ul class="fm-menu">
            <li><a href="Product" class="fm-link-menu-tenshop" id="fm-tenshop">Mỹ phẩm nhập khẩu hàn quốc</a></li>
            <li><a href="Contact" class="fm-link-menu">Contact</a></li>
            <li><a href="Product" class="fm-link-menu">Product</a></li>
            <li><a href="About" class="fm-link-menu">About</a></li>
        </ul>
    </div>
    <div id="div-left">
        <div>
            <marquee direction="down" height="400px">
                Túi xách nhập khẩu HC
                <img src="~/Content/image/1.png" class="fm-image-left" />
                <img src="~/Content/image/2.png" class="fm-image-left" />
                <img src="~/Content/image/3.jpg" class="fm-image-left" />
                <img src="~/Content/image/4.jpg" class="fm-image-left" />

            </marquee>
        </div>
    </div>
    <div id="div-content">
        @RenderBody()
    </div>
    <div id="div-top">
        <ul class="fm-menu">
            <li><a href="Product" class="fm-link-menu-tenshop" id="fm-tenshop">Mỹ phẩm nhập khẩu hàn quốc</a></li>
            <li><a href="Contact" class="fm-link-menu">Contact</a></li>
            <li><a href="Product" class="fm-link-menu">Product</a></li>
            <li><a href="About" class="fm-link-menu">About</a></li>
        </ul>
    </div>
    <div id="div-left">
        <div>
            <marquee direction="down" height="400px">
                Túi xách nhập khẩu HC
                <img src="~/Content/image/1.png" class="fm-image-left" />
                <img src="~/Content/image/2.png" class="fm-image-left" />
                <img src="~/Content/image/3.jpg" class="fm-image-left" />
                <img src="~/Content/image/4.jpg" class="fm-image-left" />

            </marquee>
        </div>
    </div>
</body>
</html>
